{% load static %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Hilman | Profile</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/myweb.css' %}" />
    </head>
    <body
    style="background-image:url({% static 'images/park.jpg' %})">
        <section>
          <div class="snowflakes" aria-hidden="true">
            <div class="snowflake">
              ❅
            </div>
            <div class="snowflake">
              ❅
            </div>
            <div class="snowflake">
              ❆
            </div>
            <div class="snowflake">
              ❄
            </div>
            <div class="snowflake">
              ❅
            </div>
            <div class="snowflake">
              ❆
            </div>
            <div class="snowflake">
              ❄
            </div>
            <div class="snowflake">
              ❅
            </div>
            <div class="snowflake">
              ❆
            </div>
            <div class="snowflake">
              ❄
            </div>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <h1 class="mt-2 text-center">Hi ...</h1>
              </div>
            </div>
          </div>
          <div class="container-fluid body_quote">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <blockquote>Setting goals is the first step into turning the invisible into the visible.</blockquote>
                <cite>Tony Robbins</cite>
              </div>
            </div>
          </div>
          <div class="container-fluid mt-5">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="social">
                  <a href="https://www.facebook.com/hilman.yanuar" class="link facebook" target="_blank"><span class="fa fa-facebook-square"></span></a>
                  <a href="https://twitter.com/hilmanyanuar" class="link twitter" target="_blank"><span class="fa fa-twitter"></span></a>
                  <a href="https://plus.google.com/u/0/112768112396891495038?tab=wX" class="link google-plus" target="_blank"><span class="fa fa-google-plus-square"></span></a>
                  <a href="https://www.linkedin.com/in/hilman-yanuar-rahmadi-b58990113/" class="link linkedin" target="_blank"><span class="fa fa-linkedin"></span></a>
                </div>
              </div>
            </div>
          </div>
        </section>
    </body>
</html>